[Unit]
Description=Kafka Broker (KRaft)
After=network.target

[Service]
Type=simple
User={{ kafka_user }}
Group={{ kafka_group }}
Environment=KAFKA_HEAP_OPTS="-Xms2G -Xmx2G"

Environment="KAFKA_OPTS=-Dcom.sun.management.jmxremote=true \
  -Dcom.sun.management.jmxremote.local.only=false \
  -Dcom.sun.management.jmxremote.port=9999 \
  -Dcom.sun.management.jmxremote.authenticate=false \
  -Dcom.sun.management.jmxremote.ssl=false"

ExecStart={{ base_dir }}/bin/kafka-server-start.sh {{ config_dir }}/broker.properties
ExecStop={{ base_dir }}/bin/kafka-server-stop.sh
Restart=on-failure
RestartSec=10
# send logs to journald, view with: journalctl -u kafka-broker
StandardOutput=journal
StandardError=journal
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
