[Unit]
Description=Kafka MirrorMaker2 (MM2)
After=network.target kafka-controller.service kafka-broker.service

[Service]
User={{ kafka_user }}
Group={{ kafka_group }}
ExecStart={{ base_dir }}/bin/connect-mirror-maker.sh {{ config_dir }}/mm2/mm2.properties
Environment="KAFKA_HEAP_OPTS=-Xms8G -Xmx8G"
Restart=on-failure
RestartSec=10
StandardOutput=append:{{ logs_dir }}/mm2.out
StandardError=append:{{ logs_dir }}/mm2.err

[Install]
WantedBy=multi-user.target
